<a href="https://colab.research.google.com/github/moonna03/AIpython/blob/main/240419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **학생들의 성적 계산**

In [11]:
score_list = []

while True:
  score = input("학생의 점수를 입력하세요.")
  if score.isdigit():
    score = int(score)
    score_list.append(score)
  else:
    break

print("입력 데이터 출력 :", score_list)
print("합계 : ", sum(score_list))
print("인원수 : ", len(score_list))
avg = sum(score_list) / len(score_list)
print("평균 : ", avg)

학생의 점수를 입력하세요.60
학생의 점수를 입력하세요.50
학생의 점수를 입력하세요.40
학생의 점수를 입력하세요.gt
입력 데이터 출력 : [60, 50, 40]
합계 :  150
인원수 :  3
평균 :  50.0

In [12]:
 txt = "apple#banana#cherry#orange"
 x=txt.split("#")
 print(x)

['apple', 'banana', 'cherry', 'orange']

In [13]:
a = ['Python', 'Java', 'Ruby']
b = "->".join(a)
print(b)

Python->Java->Ruby

In [15]:
number_list = [ x**2 for x in range(10) if x % 2 == 0]
print(number_list)

[0, 4, 16, 36, 64]

In [16]:
cities = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
s_cities = [city for city in cities if city.startswith('S')]
print(s_cities)

['Seoul', 'Shanghai']

In [18]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_nums = list(filter(lambda x: x % 2 == 0, nums))
print(odd_nums)

[2, 4, 6, 8, 10]

In [25]:
a = ['Python', 'Java', 'JavaScript']
newlist = [(idx, b) for idx, b in enumerate(a)]
print(newlist)

[(0, 'Python'), (1, 'Java'), (2, 'JavaScript')]

In [30]:
def convert_to_grade(score):
  if score >= 90:
    return 'A'
  elif score >= 80:
    return 'B'
  elif score >= 70:
    return 'C'
  elif score >= 60:
    return 'D'
  else:
    return 'F'

scores = [88, 92, 78, 60, 75, 95]
grade = list(map(convert_to_grade, scores))
print(grade)

['B', 'A', 'C', 'D', 'C', 'A']

In [31]:
ages = [5, 12, 17, 18, 24, 32]
adults = list(filter(lambda age: age >= 18, ages))
print(adults)

[18, 24, 32]