<a href="https://colab.research.google.com/github/moonna03/AIpython/blob/main/240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10
if a>5:
  print("a는 5보다 크다")
print("프로그램 종료")

a는 5보다 크다
프로그램 종료

In [2]:
a=10
if a>5:
  print("a는 5보다 크다")
elif a<=5:
  print("a는 5이하입니다")

a는 5보다 크다

# **a에 할당한 값의 짝수 홀수 여부를 알려주는 프로그램**

In [6]:
a=int(input("a의 값을 입력하세요"))

if a%2 == 0 :
  print("a는 짝수입니다")
elif a%2 == 1 :
  print("a는 홀수입니다")

a의 값을 입력하세요5
a는 홀수입니다

## **성적 입력하기**

In [16]:
a=int(input("a의 점수를 입력하세요"))

if a>=90:
  print("A")
elif a>=80:
  print("B")
elif a>=70:
  print("C")
elif a>=60:
  print("D")
else:
  print("F")

a의 점수를 입력하세요100
A

In [26]:
a=[1, 2, 3, 4, 5]
n=0
for i in a:
  print(i)
  n=n+i
print(n)

1
2
3
4
5
15

In [30]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

## **1-100사이의 홀수, 짝수 찍기** **굵은 텍스트**

In [33]:
for i in range(1,101,2):
  print(i)

for i in range(2,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [35]:
for i in range(1,101):
  if i%2 ==0 :
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# **홀수의 합과 짝수의 합 따로 구하기**

In [37]:
a=0
b=0

for i in range(1,11):
  if i%2 ==0 :
    a=a+i
  elif i%2==1:
    b=b+i

print("짝수의 합은", a)
print("홀수의 합은", b)

짝수의 합은 30
홀수의 합은 25

In [42]:
n=int(input())
a=0

for i in range(1, n+1):
  a=a+i

print(a)

값을 입력하세요20
210