<a href="https://colab.research.google.com/github/moonna03/AIpython/blob/main/240510.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [2]:
data = [[1, 'Alice'], [2, 'Bob'], [3, 'Charlie']]
df = pd.DataFrame(data, columns = ['ID', 'Name'])
print(df)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

In [1]:
import pandas as pd
df2 = pd.read_csv('data.csv', encoding='UTF-8')
print(df2)

   name   age   score
0   Kim    27      92
1   Lee    33      98
2  Park    19      87

In [5]:
url = "https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv"
df4 = pd.read_csv(url, delimiter='\t')
print(df4)

           gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0      3326086514  1504279457970          1949         9       1           2
1      3229566029  1497848803862          1851         9       1           1
2      3327363504  1504360103310          1493         9       1           2
3      3326856598  1504348503996          1758         9       1           1
4      3330080762  1504554410899          2094         9       1           2
...           ...            ...           ...       ...     ...         ...
51485  3308904636  1503076540231          1944         9       2           1
51486  3215685759  1496957179355          3304         9       2           1
51487  3322765040  1504029863961          2156         9       2           2
51488  3256675373  1499562036246          1475         9       2           2
51489  3317333020  1503612754059          1445         9       1           1

       firstTower  firstInhibitor  firstBaron  firstDragon  ...  \
0               1               1           1            1  ...
1               1               1           0            1  ...
2               1               1           1            2  ...
3               1               1           1            1  ...
4               1               1           1            1  ...
...           ...             ...         ...          ...  ...
51485           2               2           0            2  ...
51486           1               2           2            2  ...
51487           2               2           0            1  ...
51488           2               2           0            2  ...
51489           1               1           1            2  ...

       t2_towerKills  t2_inhibitorKills  t2_baronKills  t2_dragonKills  \
0                  5                  0              0               1
1                  2                  0              0               0
2                  2                  0              0               1
3                  0                  0              0               0
4                  3                  0              0               1
...              ...                ...            ...             ...
51485             10                  2              0               4
51486             11                  7              4               4
51487             10                  2              0               2
51488             11                  3              0               1
51489              1                  0              0               1

       t2_riftHeraldKills  t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0                       1      114       67       43       16       51
1                       0       11       67      238       51      420
2                       0      157      238      121       57       28
3                       0      164       18      141       40       51
4                       0       86       11      201      122       18
...                   ...      ...      ...      ...      ...      ...
51485                   0       55       -1       90      238      157
51486                   1      157       55      119      154      105
51487                   0      113      122       53       11      157
51488                   0      154       39       51       90      114
51489                   0       11      157      141       31       18

[51490 rows x 61 columns]

In [8]:
df5 = pd.read_excel('data.xlsx')
print(df5)

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
1  B반  김이정  여  78.0   45.0   응시   확인
2  A반  오지수  남   NaN    NaN   응시   확인
3  B반  김선후  남  33.0   44.0   응시  NaN
4  A반  하진희  여   0.0   85.0   응시  NaN
5  A반  강현진  남   NaN    NaN  NaN  NaN
6  B반  김진솔  남  90.0   89.0   응시   확인
7  B반  박서준  여  78.0   45.0   응시   확인
8  A반  김성희  남   NaN    NaN  NaN   확인
9  B반  이지서  여  86.0  100.0   응시   확인

In [14]:
A=df5[['반', '성별']]
print(A)

    반 성별
0  A반  남
1  B반  여
2  A반  남
3  B반  남
4  A반  여
5  A반  남
6  B반  남
7  B반  여
8  A반  남
9  B반  여

In [16]:
filtered_data = df5[df5['국어'] >= 80]
print(filtered_data)

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
6  B반  김진솔  남  90.0   89.0   응시   확인
9  B반  이지서  여  86.0  100.0   응시   확인

In [20]:
B = df5.sort_values(by=['국어'], ascending=False)
print(B)

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
6  B반  김진솔  남  90.0   89.0   응시   확인
9  B반  이지서  여  86.0  100.0   응시   확인
1  B반  김이정  여  78.0   45.0   응시   확인
7  B반  박서준  여  78.0   45.0   응시   확인
3  B반  김선후  남  33.0   44.0   응시  NaN
4  A반  하진희  여   0.0   85.0   응시  NaN
2  A반  오지수  남   NaN    NaN   응시   확인
5  A반  강현진  남   NaN    NaN  NaN  NaN
8  A반  김성희  남   NaN    NaN  NaN   확인

In [25]:
data = [['Joan', 90, 85, 88], ['Alice', 87, 91, 89], ['Bob', 78, 80, 85], ['Emily', 92, 88, 82]]
df = pd.DataFrame(data, columns=['학생', '수학', '영어', '과학'])
print(df)

df.describe()

      학생  수학  영어  과학
0   Joan  90  85  88
1  Alice  87  91  89
2    Bob  78  80  85
3  Emily  92  88  82

              수학         영어         과학
count   4.000000   4.000000   4.000000
mean   86.750000  86.000000  86.000000
std     6.184658   4.690416   3.162278
min    78.000000  80.000000  82.000000
25%    84.750000  83.750000  84.250000
50%    88.500000  86.500000  86.500000
75%    90.500000  88.750000  88.250000
max    92.000000  91.000000  89.000000

In [29]:
max_df = df['수학'].max()
print(sum_df)
filtered_data = df[df['수학'] >= 90]
print(filtered_data)

KeyError: 92